
.form-control {
    box-shadow: none;
    border-color: #ddd;
    color: #999;
    background: #f5f5f5;
    font-family: 'Google Sans', sans-serif;
}
.form-control:focus {
    border-color: #f64152; 
}
.login-form {
    width: 370px;
    margin: 0 auto;
    padding: 30px 0;
    margin-top:2%
}
.login-form .form {
    color: #434343;
    border-radius: 1px;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #0000;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h4 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}
.login-form .avatar {
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 9;
    padding: 15px;
}

.login-form .form-group {
    margin-bottom: 20px;
}
.login-form .form-control, .login-form .btn {
    min-height: 40px;
    border-radius: 2px; 
    transition: all 0.5s;
}
.login-form .close {
    position: absolute;
    top: 15px;
    right: 15px;
}
.login-form .btn {
    
    border: none;
    line-height: normal;
}

.login-form .checkbox-inline {
    float: left;
}
.login-form input[type="checkbox"] {
    margin-top: 2px;
}
.login-form .forgot-link {
    float: right;
}
.login-form .small {
    font-size: 15px;
}
.login-form a {
    color: #f64152;
}