@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
  scroll-behavior: smooth;
  font-family: "Google Sans", "Sans Serif";
}
#nav-dropdown{
  color: white;
  font-weight: bold;
  background-color: red;
}
.btn-primary{
    background-color: #f64152;
    border-color: #f64152;
}
.btn-primary:hover {
    color: #fff;
    background-color: #f72439;
    border-color: #f72439;
  }
  
  .btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem #cc1427;
  }
  
  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #cc1427;
    border-color: #cc1427;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #f64152;
    border-color: #f64152;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #f64152;
  }
nav {
    background-color: #f64152;
    color: #fff;
    font-weight:bold;
}
nav a {
    color: #fff;
}
html,body,h1,h2,h3,h4,h5,h6,p,span,a {
  font-family: 'Open Sans', sans-serif;
  word-wrap: break-word;
}

.search_form {
    width:50%;
    border-radius:25px;
    height:60px;
    border-color:#f64152;
    border-width:3px;
}
.search_form:focus {
    border-radius:25px;
    border-color:#ff4456;
    border-width:3px;
}
.card img {
    width: 286px;
    height:180px;
}
.card:hover {
  box-shadow: 10px 10px 5px #888;
}
footer {
    background-color: #f64152;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
.badge-primary {
  background-color: #f64152;
}
.badge-primary[href]:hover, .badge-primary[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #f64152;
}

#button {
  display: inline-block;
  background-color: #f64152;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 50px;
  right: 20px;
  box-shadow: 2px 2px 1px 1px #0000;
  
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
  box-shadow: 2px 2px 1px 1px #0000;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
.view-recipe:hover {
  margin-left:50px;
}
/* slider */
.slideshow {
  width: 350px;
  height: 200px;
  overflow: hidden;
  border: 3px solid #F2F2F2;
}
