@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: "Google Sans", "Sans Serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scroll-behavior: smooth;
  font-family: "Google Sans", "Sans Serif";
}

/* Code for Firefox */
::-moz-selection { 
  color: #f64152;
  background: white;
}

::selection {
  color: #fff;
  background: #f64152;
}

::-webkit-scrollbar {
  width: 15px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #35363A; 
}

::-webkit-scrollbar-thumb {
  background: #f64152; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f64152; 
  border-radius: 10px;
}

#nav-dropdown{
  color: white;
  font-weight: bold;
  background-color: red;
}

.btn-primary{
  background-color: #f64152;
  border-color: #f64152;
}

.btn-primary:hover {
  color: #fff;
  background-color: #f72439;
  border-color: #f72439;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem #cc1427;
  background-color: #f72439;
}

.btn-primary:focus:after, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem #cc1427;
  background-color: #f72439;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #cc1427;
  border-color: #cc1427;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #f64152;
  border-color: #f64152;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #f64152;
}

nav {
  background-color: #f64152;
  color: #fff;
  font-weight:bold;
}

nav a {
  color: #fff;
}

html,body,h1,h2,h3,h4,h5,h6,p,span,a {
  font-family: 'Open Sans', sans-serif;
  word-wrap: break-word;
}

.search_form {
  width:50%;
  border-radius:25px;
  height:60px;
  border-color:#f64152;
  border-width:3px;
  transition: 0.3s;
}

.search_form:focus {
  border-radius:25px;
  border-color:#ff4456;
  border-width:3px;
}

.card:hover {
  box-shadow: 0.5px 1px 2px #888;
  transition: 0.5s;
}

footer {
  background-color: #f64152;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

.rose {
  color: #f64152;
}

.badge-primary {
  background-color: #f64152;
}

.badge-primary:hover, .badge-primary:focus {
  color: #fff;
  text-decoration: none;
  background-color: #f64152;
}